*{
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: black;
}
.container{
    width: 100%;
    text-align: center;
}
button{
    color: #fff;
    font-size: 16px;
}
input{
    height: 30px;
}
.buttons{
    display: flex;
    justify-content:space-between;
    max-width: 500px;
    width: 100%;
    margin: 40px auto;
    color: #fff;
    font-weight: bold;
    align-items: center;
} 
.btn{
    padding: 10px 30px;
    background: transparent;
    border: none;
}
#start{
    background: rgb(205, 100, 90);

}
#stop{
    background: rgb(205, 90, 180);
}
.click{
    padding: 10px 30px;
    cursor: pointer;
}
.led {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgb(47, 154, 200);
}
.led.active {
    background-color: rgb(208, 35, 92);
}
.pyramid-container {
    margin-top: 100px;
    text-align: center;
    width: 50%;
    margin-inline: auto;
    border: 10px solid #fefe;
    /* background-color: black; */
    /* background-color: rgba(178, 178, 178, 0.933); */
}
.pyramid-row {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}


@media screen and (max-width:1000px) {
    
    .pyramid-container{
        width: 100%;
    }
}